include LICENSE
include ChangeLog
include setup.py
include MANIFEST.in
include usrsvc
include usrsvcd
include requirements.txt
include README.md
include README.rst
recursive-include usrsvcmod *.py
recursive-include examples *.cfg
recursive-include examples/cfg *.cfg
